@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#040106] text-white;
}

.specialText {
  background: -webkit-linear-gradient(
    90deg,
    hsl(289, 67%, 54%),
    hsl(328, 51%, 53%)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
