@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#040106] text-white;
}

.specialText {
  background: -webkit-linear-gradient(90deg, #bb3bd8, #c44a8b);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.specialBg {
  background: -webkit-linear-gradient(90deg, #bb3bd8, hsl(328, 51%, 53%));
}

.parsed code {
  @apply bg-slate-700;
}

.parsed pre {
  @apply bg-slate-700 overflow-x-scroll p-2;
}
